*{
    padding: 0px;
    margin: 0px;
}

body{
   
   background-image: url("final2.jpg");
   object-fit: contain;
   font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    display: flex;
    align-items: center;
    font-family: serif;
    background-color: #6f4e37;
}
.left-nav{
   
    width: 200px;
    left: 0px;
}

.right-nav{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    width: 800px;
   color: white;
    margin-left: 450px;
}

.right-nav > a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5ms;
}
.right-nav > a:hover{
  color: rgb(162, 114, 206);
  padding-top: 1px;
  overflow: hidden;
}

/* .containt{
    height: 200px;
    width: 700px;
    position: absolute;
    right: 0px;
    align-items: center;
    animation: animation 1.5s normal 0.2s 1 normal ease-in;
} */

/* .text1{
    display: none;
    animation: animation 1.5s normal 0.2s 1 normal ease-in;
} */


.slide-right {
    margin-top: 150px;   
    width: 100%;
    overflow: hidden;
    margin-left: 800px; /* Adjust this value as needed */
    max-width: 600px;
  }
  .text1{
    color: #6f4e37; font-size: 50px; font-family:fantasy;
  }
  .text2{
    color: #6f4e37;font-family:serif;
  }
  
  .slide-right > h2 {
    animation: 2s slide-right 1s forwards;
    transform: translateX(-100%);
  }
  
  @keyframes slide-right {
    to {
      transform: translateX(0);
    }
}

.order{
  height: 80px;
  width: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 890px;
  margin-top: 80px;
  animation: 2s slide-right 1s forwards;
    transform: translateX(-200%);
}

.order >  button{
  height: 60px;
  width: 180px;
  background-color: #472D30;
  color: white;
  font-size: 27px;
  font-family:cursive ;
  border: 1px solid transparent;
  border-radius: 20px;
}
.name{
  height: 30px;
  margin-top: 120px;
  display: flex;justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
body{
    width: 360px;
    object-fit: contain;
    
}

.navbar{
    height: 60px;
    width: 395px;  
}
.left-nav{
    display: none;
    width: 0px;
    height: 0px;

}
.right-nav{
    width: 395px;
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    font-size: 16px;
}
.right-nav > a{
    text-decoration: none;
    color: white;
    transition-duration: 0.5ms;
}
.right-nav > a:hover{
  color: rgb(162, 114, 206);
  padding-top: 1px;
  overflow: hidden;
}
.slide-right {
    margin-top: 10px;   
    width: 100%;
    overflow: hidden;
    margin-left: 34px; /* Adjust this value as needed */
    max-width: 700px;
  }

  .text1{
    font-size: 40px ;
  }
  text2{
    font-size: 2px;
    font-weight: 400;
  }

  .order{
    height: 80px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 76px;
    margin-top: 80px;
  }
  
  .name{
    height: 20px;
    width: 200px;
    margin-top: 300px;
    margin-left: 50px;
    color: white;
  }
}
